.Fs32BoldWhite {
    font-size: var(--fs-32);
    font-weight: 700;
    color: white;
}

.Fs30BoldWhite {
    font-size: var(--fs-30);
    font-weight: 700;
    color: white;
}

.Fs25BoldWhite {
    font-size: var(--fs-25);
    font-weight: 700;
    color: white;
}

.Fs22BoldWhite {
    font-size: var(--fs-22);
    font-weight: 700;
    color: white;
}

.Fs20Fw500White {
    font-size: var(--fs-20);
    font-weight: 500;
    color: white;
}

.Fs20Fw400White {
    font-size: var(--fs-20);
    font-weight: 400;
    color: white;
}

.Fs20Fw400Gray {
    font-size: var(--fs-20);
    font-weight: 400;
    color: #cfcfcf;
}

.Fs18Fw500White {
    font-size: var(--fs-18);
    font-weight: 500;
    color: white;
}

.Fs18Fw400Gray {
    font-size: var(--fs-18);
    font-weight: 400;
    color: #cfcfcf;
}

.Fs18Fw400Green {
    font-size: var(--fs-18);
    font-weight: 400;
    color: #79B282;
}

.Fs16Fw400White {
    font-size: var(--fs-16);
    font-weight: 400;
    color: white;
}

.Fs16BoldWhite {
    font-size: var(--fs-16);
    font-weight: 700;
    color: white;
}

.Fs14Fw500White {
    font-size: var(--fs-14);
    font-weight: 500;
    color: white;
}

.Fs13Fw500White {
    font-size: var(--fs-13);
    font-weight: 500;
    color: white;
}

.Fs13Fw400Gray {
    font-size: var(--fs-13);
    font-weight: 400;
    color: #cfcfcf;
}

.Fs12Fw500Black {
    font-size: var(--fs-12);
    font-weight: 500;
    color: black;
}

.Fs12Fw400White {
    font-size: var(--fs-12);
    font-weight: 400;
    color: white;
}

.Fs12Fw300White {
    font-size: var(--fs-12);
    font-weight: 7300;
    color: white;
}