.error {
    color: var(--thunderBird);
    line-height: 24px;
    letter-spacing: .02em;
    margin-top: 5px;
    font-size: var(--fs-15);
}

.error2 {
    color: var(--thunderBird);
    line-height: 24px;
    letter-spacing: .02em;
    margin-top: 5px;
    font-size: var(--fs-15);
    left: 0;
}