.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .titleBlock {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .block {
        gap: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1400px;

        .item {
            border-radius: 6px;
            border: 1px solid gray;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;


        }
    }
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.bl {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .image {
        width: 100px;
        height: 100px;
        border-radius: 6px;
    }
}

.btns {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}