.favouritesBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
    }
}