.loading {
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-iswhite=true] {
        &::after {
            border-left-color: #000000 !important;
            border-top-color: #383838 !important;
        }
    }
}

.loading:after {
    content: "";
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-left-color: #FFF;
    border-top-color: #FFF;
    width: 14px;
    height: 14px;
    animation: spin .6s infinite linear;
}

.loadingbig {
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: "";
        border-radius: 100%;
        border: 6px solid rgba(255, 255, 255, 0.5);
        border-left-color: #575757;
        border-top-color: #525252;
        width: 54px;
        height: 54px;
        animation: spin .6s infinite linear;
    }
}

@keyframes spin {
    to {
        transform: rotate(359deg);
    }
}