.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    margin-bottom: 50px;
    color: #62666D;

    span {
      font-size: 15px;
    }
  
    button {
      margin: 0 5px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 10px;
  
      &:hover {
        background-color: #e6e6e6;
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
  
      &.active {
        background-color: #4caf50;
        color: white;
      }
    }

    .pagesButtons {
        display: flex;
        gap: 5px;
        align-items: center;

        .arrow {

            &:hover {
                background-color: #e6e6e6;
              }
        }
    }
  }